<a class="
     rounded-md
     border border-white/10 border-none
     flex
     justify-center
     items-center
     gap-x-2
     py-1.5 lg:py-2
     px-2 lg:px-4
     text-xs lg:text-base
     hover:scale-102 hover:text-violet dark:hover:text-sky
     bg-neutral-200 dark:bg-neutral-800
     transition transform duration-150"
    href={Astro.props.href}
    rel="noopener"
	target="_blank"
    >
    <slot/>
</a>